
.chatbox-open-button{
    background-color: #2699fb;
    color: white;
    padding: 1em 1.25em;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 1.45rem;
    left: 1.75rem;
    width: 17.5em;
}

.close-chat-button{
    position: absolute;
    align-items: end;
    right: 0;
    top: 0;
    font-weight: bold;
    font-size: 0.5em;
}

.chat-container{
    width: 43em;
    height: 25em;
    background: white;
    grid-template-columns: 30% 70%;
    grid-template-rows: 15% 70% 15%;
    border-radius: 10px;
    display: none;
    position: fixed;
    bottom: 1.45rem;
    left: 1.75rem;
    z-index: 2;
}

.search-container{
    display: flex;
    align-items: center;
    grid-area: 1 / 1;
    background: #2726a6;;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding: 0 0.625em;

}

.search-container > input{
    color: black;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    background-image: url("../Images/searchicon.png");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 10px center;
    text-align: center;

}

.chat-title{
    grid-area: 1 / 2 / span 1;
    background: gray;
    border-radius: 0 10px 0 0 ;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    font-weight: bold;
    font-size: 2em;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    text-align: center;
    padding: 0.2em 0;

}

.coversation-list{
    grid-area: 2 / 1 ;
    background: #2726a6;

}

.chat-message-list{
    grid-area: 2 / 2 ;
    background: white;
}

.new-message-container{
    display: flex;
    grid-area: 3 / 1 ;
    background: #2726a6;
    border-top: 1px solid rgba(0,0,0,0.25);
    align-items: center;
    font-size: 2em;
}

.new-message-container > a{
    color: white;
    text-decoration: none;
    padding: 0.4em;
}

.chat-form{
    grid-area: 3 / 2 ;
    background: gray;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
}

.Wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-gap: 1em;
    padding: 5em;
}

.TopBar{
    position: sticky;
    display: grid;
    grid-area: 1 / 1 / span 1 / span 4;
    grid-template-columns: 10% 60% 30%;
    background: #B90808;
    align-items: center;
    z-index: 1;
    top: 1em;
}

.Options {
    display: flex;
    align-items: center;
    grid-area: 1 / 2 / span 1 / span 1;


    align-items: center;
    justify-content: center;

    margin-left: 3em;

    height: auto;




}

.Options > a{
    color: white;
    text-decoration: none;
    font-size: 1.35em;
    padding: 0 0.5em;
}

.fa-globe {

    color: green;
    padding: 0.5em;
    font-size: 1em;
}

.fa-map-marked-alt{

    color: green;
    padding: 0.5em;
    font-size: 1em;

}

.fa-calendar-plus{
    color: green;
    padding: 0.5em;
    font-size: 1em;

}

.Options > a:hover{
    background: floralwhite;
    color: black;
}

#logo > a > img{
    width: 4em;
    padding: 0.3em 1em;
}

#Notification{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-user{
    color: green;
    font-size: 2.2em;
    padding: 0.5em;
}

.fa-heart{
    color: green;
    font-size: 2.2em;
    padding: 0.5em;
}

.fa-bell{
    color: green;
    font-size: 2.2em;
    padding: 0.5em;
}

.fa-user:hover{color: darkgreen;}
.fa-heart:hover{color: darkgreen;}
.fa-bell:hover{color: darkgreen;}


.SearchNav{
    display: grid;
    grid-area: 2 / 1 / span 1 / span 3;
    background: gray;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    padding: 10px;

}

.SearchNavSelect{
    display: flex;
    align-items: center;
    width: 100%;
    background: white;
    position: relative;
}

.SearchNavSelect > select {
    width: 100%;
    height: 100%;
    padding-left: 1em;
    cursor: pointer;
    background: #3758cb;
    color: #fefefe;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: bold;
}

.SearchNavSelect select:hover,
.SearchNavSelect select:focus {
    color: floralwhite;
    background: #3817c6;
}

.SearchNavSelect select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.fa-caret-down {
    position: absolute;
    font-size: 2em;
    right: 1em;
    pointer-events: none;
    color: white;
}

.SearchNavSelect select:hover ~ .fa-caret-down,
.SearchNavSelect select:focus ~ .fa-caret-down {
    color: floralwhite;
}

.SearchBar-Searchbox{
    display: inline-flex;
}

.search-box-input {
    width: 100%;
    border: 0.3em solid #3758cb;
    outline: 0;
    padding-left: 1em;

}

.search-box-input:hover,
.search-box-input:focus {
    border-color: #3817c6;
}

.search-box-button {
    background-color: #3758cb;
    border: 0.2em solid #3758cb;
    color: white;
    cursor: pointer;
    outline: 0;
    padding: 0 0.75em;
}

.search-box-button:hover,
.search-box-button:focus{
    border-color: #3817c6;
    background-color: #3817c6;
}

.SearchBar-SelectNumber{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3758cb;
    padding: 0.2em 0;
}

.SearchBar-SelectNumber > h{
    font-weight: bold;
    font-size: 1em;
    color: white;


}

.SelectInputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.1em;
}

.SelectInputs > input{
    width: 25%;
    margin: 0 0.4em;
    border: 0.3em solid #3758cb;
    outline: 0;
    padding-left: 1em;
}

.SelectInputs > input:hover,
.SelectInputs > input:focus{
    border-color: #3817c6;
}

#NumebrOfPeopleInput{
    width: 100%;
}

.SearchBar-CheckBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3758cb;
    justify-content: center;
    padding: 0 0.2em;
}

.SearchBar-CheckBox > h{
    font-size: 1.2em;
    margin-bottom: 0.3em;

    color: white;
}

.checkbox-options{
    display: flex;
    flex-direction: row;
}

.checkbox-option-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-option{
    cursor: pointer;
   -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.2em;
    position: relative;
    margin-right: 1em;
}

#terrain{
    margin-right: 0;
}

.checkbox-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-option >  .checkmark {
    position: absolute;
    height: 1em;
    width: 1em;
    background-color: #eee;
    top: 5%;
    left: 0;
}

.checkbox-option > h{
    padding-left: 1.2em;
    font-size: 1em;
    color: white;
    font-weight: normal;
}

.checkbox-option:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-option input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-option input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-option .checkmark:after {
    left: 50%;
    top: 0.1em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.RightNav{
    display: grid;
    grid-area: 2 / 4 / span 3 / span 1;
    background: gray;
}

.MainContent{
    display: grid;
    grid-area: 3 / 1 / span 2 / span 3;
    background: gray;

}


.Publication{
    position: relative;
    background-color: white;
    height: 22em;
    border: solid 5px #6dcb1b;
    margin-bottom: 1.5em;

}

.EventInformation{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1em;
    left: 1em;
    top: 1em;

}


#EventTitle{
    display: flex;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.99);
    padding-bottom: 0.5em;
}

#EventSport{
    display: flex;
    opacity: 0.3;
    font-family: Arial;
    font-size: 1.2em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.99);
}

#EventDate{
    display: flex;
    opacity: 0.3;
    font-family: Arial;
    font-size: 1.2em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.99);
}

#EventAddress{
    display: flex;
    opacity: 0.3;
    font-family: Arial;
    font-size: 1.2em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.99);
    padding-bottom: 0.5em;
}

#EventPeopleNumberElemnt{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-users{
    color: darkgreen;
    font-size: 1.5em;
    padding-right: 0.3em;
}

.Publication > a >img{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 50%;
    border: solid 3px rgba(63, 37, 37, 0.82);
}

#SeeDetails{
    position: absolute;
    bottom: 0em;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);


    text-decoration: none ;
    border: solid 3px rgba(63, 37, 37, 0.82);
    background-color: rgba(167, 18, 212, 0.92);
    padding: 1em 5em;
    color: white;
    font-weight: bold;
}