.Wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-gap: 1em;
    padding: 5em;
}

.TopBar{
    grid-area: 1 / 1 / span 1 / span 4;
}

#TopBarMobile{
    display: none;
}

.UserTable{
    grid-area: 2 / 1 / span 2 / span 3;
}

.UserTable > table{
    border-collapse: collapse;
    width: 100%;
}

.UserTable > table  td, .UserTable > table  th{
    border: 1px solid #ddd;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.UserTable > table tr:nth-child(even){background-color: #f2f2f2;}

.UserTable > table tr:nth-child(odd){background-color: #f2f2f2;}

.UserTable > table tr:hover {background-color: #ddd;}

.UserTable > table th {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #4CAF50;
    color: white;
}

.SearchBar-Searchbox{
    display: inline-flex;
    width: 100%;
}

.search-box-input {
    border-radius: 0;
    border: solid 0.3em  rgba(34, 0, 255, 0.92);
    border-right: none;
    background-color: #ffffff;
    line-height: 2.5em;
    font-size: 1em;
    text-align: left;
    outline: none;
    padding-left: 1em;
    width: 100%;
    outline: 0;
}

.search-box-button {
    background-color: #3758cb;
    border: 0.2em solid #3758cb;
    color: white;
    cursor: pointer;
    outline: 0;
    padding: 0 0.75em;
}

.search-box-button:hover,
.search-box-button:focus{
    border-color: #3817c6;
    background-color: #3817c6;
}

.ActionNav{
    grid-area: 2 / 4 / span 2 / span 1;
    align-items: center;

}

.ActionNav > #GetAllButton{
    width: 100%;
    border: solid  #6dcb1b;
    background: #6dcb1b;
    color: #eeeeee;
    margin-top: 1em;
    padding: 0.3em;
    font-size: 1.2em;
    text-align: center;
    outline: none;
}

.ActionNav > #GetAllButton > .fa-users{
    padding-right: 0.2em;
}

.ActionNav > #GetAllButton:hover{
    background: #4CAF50;
    border: solid  #4CAF50;
}






@media only screen and (max-width : 450px) {

    .Wrapper {
        padding: 0;
    }


    #TopBarMobile {
        display: flex;
    }

    #TopBarStandard {
        display: none;
    }


}
