
.Wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-gap: 1em;
    padding: 5em;
}

.Wrapper-Mobile{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-gap: 1em;
}

.TopBar{
    grid-area: 1 / 1 / span 1 / span 4;
}

.CheckBox{
    background: #3758cb;
}

.SearchNav{
    display: grid;
    grid-area: 2 / 1 / span 1 / span 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.6em;
    padding: 0;
}

.SearchNavSelect{
    display: flex;
    align-items: center;
    width: 100%;
    background: white;
    position: relative;
}

.SearchNavSelect > select {
    width: 100%;
    height: 100%;
    padding-left: 1em;
    cursor: pointer;
    background: #3758cb;
    color: #fefefe;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: bold;
}

.SearchNavSelect select:hover,
.SearchNavSelect select:focus {
    color: floralwhite;
    background: #3817c6;
}

.SearchNavSelect select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.fa-caret-down {
    position: absolute;
    font-size: 2em;
    right: 1em;
    pointer-events: none;
    color: white;
}

.SearchNavSelect select:hover ~ .fa-caret-down,
.SearchNavSelect select:focus ~ .fa-caret-down {
    color: floralwhite;
}

.SearchBar-Searchbox{
    display: inline-flex;
}

.search-box-input {
    border-radius: 0;
    border: solid 0.3em  rgba(34, 0, 255, 0.92);
    border-right: none;
    background-color: #ffffff;
    line-height: 2.5em;
    font-size: 1em;
    text-align: left;
    outline: none;
    padding-left: 1em;
    width: 100%;
    outline: 0;
}

.search-box-button {
    background-color: #3758cb;
    border: 0.2em solid #3758cb;
    color: white;
    cursor: pointer;
    outline: 0;
    padding: 0 0.75em;
}

.search-box-button:hover,
.search-box-button:focus{
    border-color: #3817c6;
    background-color: #3817c6;
}

.SearchBar-SelectNumber{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3758cb;
    padding: 0.2em 0;
}

.SearchBar-SelectNumber > h{
    font-weight: bold;
    font-size: 1em;
    color: white;


}

.SelectInputs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.1em;
}

.SelectInputs > input{
    width: 25%;
    margin: 0 0.4em;
    border: 0.3em solid #3758cb;
    outline: 0;
    padding-left: 1em;
}

.SelectInputs > input:hover,
.SelectInputs > input:focus{
    border-color: #3817c6;
}

#NumebrOfPeopleInput{
    width: 100%;
}

.MainContent{
    display: grid;
    grid-area: 3 / 1 / span 2 / span 3;


}

.Publication{
    position: relative;
    background-color: white;
    height: 24em;
    border: solid 5px #6dcb1b;
    margin-bottom: 1.5em;



}

.EventInformation{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1em;
    left: 3em;
    top: 5em;

}

.ShortDescription{
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: 45%;
    border: solid 3px rgba(63, 37, 37, 0.82);
    resize: none;
    font-family: Arial;
    text-align: center;
    padding-top: 1em;
}

#EventTitle{
    display: flex;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: indigo;
}

#EventSport{
    display: flex;
    opacity: 0.5;
    font-family: Arial;
    font-size: 1.2em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: green;
}

#EventDate{
    display: flex;
    opacity: 0.5;
    font-family: Arial;
    font-size: 1.2em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
}

#EventAddress{
    display: flex;
    opacity: 0.5;
    font-family: Arial;
    font-size: 1.2em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: #3817c6;
}

#EventPeopleNumberElement{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-users{
    color: darkgreen;
    font-size: 1.7em;
    padding-right: 0.3em;
}

#EventPeopleNumberElement > h{
    font-size: 1.2em;
    font-weight: bold;

}

#Age{
    display: flex;
    opacity: 0.5;
    font-family: Arial;
    font-size: 1.2em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: darkmagenta;
}

.fa-volleyball-ball{
    font-size: 2.5em;
    padding: 0.5em;
    color: #B90808;

}

.Publication > a >img{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 45%;
    border: solid 3px rgba(63, 37, 37, 0.82);
}

#SeeDetails{
    position: absolute;
    bottom: 1em;
    left: 1em;
    text-decoration: none ;
    border: solid 3px rgba(63, 37, 37, 0.82);
    background-color: rgba(167, 18, 212, 0.92);
    padding: 1em 5em;
    color: white;
    font-weight: bold;
}

#SubmitButton{
    background: #3758cb;;
    font-size: 1.2em;
    font-weight: bold;

    color: white;
}

#SubmitButton:hover{
    background: #3817c6;
}

.MobileShowEvents{
    display: flex;
    grid-area: 2 / 1 / span 1 / span 4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}

.MobileShowEvents > h{
    font-size: 2em;
    display: flex;
    text-align: center;
    margin-bottom: 0.2em;

}

.MobileShowEvents-input{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.MobileShowEvents-input > input{
    width: 40%;
    border-radius: 1em;
    border: solid 3px #2699fb;
    font-weight: bold;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    text-align: center;
    outline: none;
    font-size: 1.2em;
}

#button1{
    background: white;
}

#button2{
    background: transparent;
}



@media only screen and (max-width : 1050px){  body{font-size: 15px;}}
@media only screen and (max-width : 1000px){  body{font-size: 14px;}}
@media only screen and (max-width : 950px){  body{font-size: 13px;} .ShortDescription,.Publication > a > img{font-size: 12px}}
@media only screen and (max-width : 900px){  body{font-size: 12px;}}
@media only screen and (max-width : 850px){  body{font-size: 11px;}}
@media only screen and (max-width : 800px){  body{font-size: 10px;}}
@media only screen and (max-width : 750px){  body{font-size: 9px;}}
@media only screen and (max-width : 700px){  body{font-size: 8px;}}
@media only screen and (max-width : 650px){  body{font-size: 7px;}}
@media only screen and (max-width : 600px){  body{font-size: 6px;}}
@media only screen and (max-width : 550px){  body{font-size: 5px;}}
@media only screen and (max-width : 500px){  body{font-size: 4px;}}
@media only screen and (max-width : 450px){

    .Wrapper{display: none}
    .Wrapper-Mobile{display: grid;}
    .MainContent{grid-area: 3 / 1 / span 2 / span 4;}

    .Publication{
        display: flex;
        flex-direction: column;
        height: 50em;
        align-items: center;
        justify-content: center;

    }
    .Publication > a >img{
        position: static;
        background: #B90808;
        width: 100%;
        box-sizing: border-box;
        border: none;

    }
    .ShortDescription{
        position: static;
        width: 100%;
        box-sizing: border-box;
        border: none;
    }
    #SeeDetails{
        position: static;
        margin-bottom: 1em;
    }
    .EventSportLabel{
        position: absolute;
        top:-2em;
        background: #B90808;
        border-radius: 1em;
        padding: 1em;
    }
    .EventInformation{
        position: static;
        margin-top: 2em;
        padding-top: 0;

    }
    .chat-container{
        right: 0;
        bottom: 0;
    }

    body{font-size: 10px;}
}





@media only screen and (max-width : 400px){  body{font-size: 9px;}}
@media only screen and (max-width : 350px){  body{font-size: 8px;}}
@media only screen and (max-width : 300px){  body{font-size: 7px;}}
@media only screen and (max-width : 300px){  body{font-size: 6px;}}
